
  <div class="row mt-3">
    <div class="col-md-3 text-center">
      <h3>Kategori</h3>
      <div class="row mt-3">
        <div class="col">
          <% @cats.each do |cat| %>
            <%= link_to cat.name, category_path(cat), {:class => 'text-white bg-warning rounded'} %>
          <% end %>
        </div>
        
      </div>
      
    </div>

    <div class="col-md-9 text-center">
      <div class="row">
        <div class="col">
          <h3>Iklan</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col d-flex">
          <div class="row">
            <% @ads.each do |ad| %>
              <div class="border border-secondary mx-3 mb-1 rounded">
                <div class="img-thumbnail" style="width: 10vw; height: 10vh">
                  <%= ad.title %>
                </div>
                <p><%= ad.condition %> </p>
                <p><%= number_to_currency(ad.price, unit:"Rp ") %> </p>
                <%= link_to "view", ad_path(ad), {:class => 'btn btn-primary'} %>
              </div>
            <% end %>
           </div> 
        </div>
      </div>
    </div>
  </div>

