<h1>Post your Ads!</h1>
<%= form_for :post , url: ads_path do |f| %>
  <% if @ad.errors.any? %>
    <% @ad.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %> </div>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.collection_select :m_category_id, MCategory.order(:name), :id, :name %>
  </p>

  <p>
    <%= f.label :"detail category" %><br>
    <%= f.grouped_collection_select :d_category_id, MCategory.order(:name), :d_categories, :name, :id, :name %>
  </p>

  <p>
    <%= f.label :condition %><br>
    <%= f.radio_button(:condition, "new") %>
    <%= f.label(:condition_new, "New") %>
    <%= f.radio_button(:condition, "used") %>
    <%= f.label(:condition_used, "Used") %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>