<div class="border border-secondary mt-3">
  <div class="img-thumbnail" style="width: 10vw; height: 10vh">
    <%= @ad.title %>
  </div>
  <p><%= @ad.description %></p>
  <p><%= @ad.condition %> </p>
  <p><%= number_to_currency(@ad.price, unit:"Rp ") %> </p>
</div>

<%= link_to "Delete", ad_path(@ad), method: :delete, :class => 'btn btn-danger'%>

<div>
  <h3>Comment</h3>
  <% @ad.comments.each do |comment| %>
    <div class="well">
      <p>
      <strong><%= comment.username %></strong>:
      <%= comment.body %> 
      <%= link_to "Delete", [comment.ad, comment], method: :delete, :class => 'btn btn-danger'%>
      </p>
      
    </div>
  <% end %>
</div>

<%= form_for([@ad, @ad.comments.build]) do |f| %>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>