<div class="mt-3">
  <p class="font-weight-bold"><%= @ad.title %></p>
  <%= image_tag(@ad.image, {:class => "rounded img-fluid" ,:style => "width: 130px; height: auto"}) %>
  <hr>
  <p><%= @ad.description %></p>
  <p><%= @ad.condition %> </p>
  <p><%= number_to_currency(@ad.price, unit:"Rp ") %> </p>
</div>

<div>
  <h3>Comment</h3>
  <% @ad.comments.each do |comment| %>
    <div class="well">
      <p>
      <strong><%= comment.username %></strong>:
      <%= comment.body %> 
      <%= link_to "Delete", [comment.ad, comment], method: :delete, :class => 'btn btn-danger'%>
      </p>
      
    </div>
  <% end %>
</div>

<%= form_for([@ad, @ad.comments.build]) do |f| %>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>